body{
    background-color: antiquewhite;
}

h1{
    color: #ff00ff;
    text-align: center;
}

.linija{
    border:  0;
    height: 6px;
    background-color: #ff5722;
    border-radius: 2px;
    
}

#sadrzaj p{font-family: sans-serif;
color: blue;}
ul{
    list-style:  none;
}
ul li::before{
    content: '👋';
}
    
ol{
    list-style-type: upper-roman;
}