:root{
    --primarna-boja: #2c3e50;
    --pozadina: #ecf0f1;
}
body{
    background-color: var(--pozadina);
    background-image: radial-gradient(circle, #bdc3c7 1px, transparent 1px);
    background-size: 20px 20px;  
    background-repeat: repeat; 
    background-attachment:fixed ;
    
}
.container{
    width: 90%;
    max-width: 1000px;
    min-width: 300px;
    inline-size: 90%;
    max-inline-size: 10opx;

    min-height: 100vh;
    min-block-size: 100vh;

    margin: 0 auto;
    background-color: white;

    box-sizing:  border-box;

    outline-style: solid;
    outline-width:  10px;
    outline-color: var(--primarna-boja);
    outline-offset: 10px;
}
section{
    border: 2px solid var(--primarna boja);
    border-radius:  0.5rem;
    margin: 10px;
    padding: 15px;
}