body{
    font-family: sans-serif;
}
div.k{
    border: 1px solid black;
    padding:  20x;
    font-size: 2rem;
    text-align: center;

}
.container{
    display:  grid;
    grid-template-areas:
     "a b"
     "c d";
     gap: 2rem;
}
.a{grid-area: a;}
.b{grid-area: b;}
.c{grid-area: c;}
.d{grid-area: d;}

ul{
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 1 rem;
}
li a{
    text-decoration:  none;
    color: black;
    font-size: 1.4rem ;
}

li{
    text-align: center;}

/*Tablet*/
    @media(min-width: 450px){
        body{
            background-color: antiquewhite;
        }
    }
}

/* Tablet Pejzažno*/
@media(orientation:landscape )and(min-width: 450px){
    body {
        background-color: blueviolet;
    }
}

/*Prilagodba za desktop u učionici 2*/
@media(min-width: 650px){
    ul{
        flex-direction: row;

    }

}

@media print{
    nav{
        display: none;
    }
}